@import url(header-footer.css); /* header and footer style */

:root {
  --body-bg: #0a0a0a;
  --card-bg: #1f1f1f;
  --input-bg: #313131;
  --section-bg: #afafaf;
  --text-color: #ffff;
  --button-color: #a0e900;
}

/* Dark Mode Variables */
#dark-mode:checked ~ .main {
   --body-bg: #ffff;
  --card-bg: #6d6b6b;
  --section-bg: #bdbdbd;
  --text-color: rgb(0, 0, 0);
  --button-color: #a0e900;
}

.main {
  background: var(--bg-color);
  color: var(--text-color);

}
body {
  text-transform: capitalize;
  font-family: "Source Sans 3", sans-serif;
  background: var(--body-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
  height: 90vh;
}

a,button{
  cursor: pointer;

}
/* Login  */
.login-form {
  width: 350px;
  padding: 30px;
  background-color: var(--card-bg);
  border-radius: 10px;
}

.login-form Span,.input-container,i {
  color: var(--button-color);
}

.login-form p {
  color: var(--section-bg);
}

.login-form input {
  background-color: var(--input-bg);
  color: var(--text-color);
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}
.login-form a {
  color: var(--button-color);
  font-size: 13px;
  text-decoration: none;
}
.login-form .sign-btn {
  background-color: var(--button-color);
  background-image: linear-gradient(to left bottom, #a0e900, yellow);
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
}

