@import url(header-footer.css);
/* header and footer style */

:root {
  --body-bg: #0a0a0a;
  --card-bg: #1f1f1f;
  --section-bg: #afafaf;
  --text-color: #ffff;
  --button-color: #a0e900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background: var(--body-bg);
  color: var(--text-color);
  text-transform: capitalize;
}

p {
  color: #ffffff9c;
}

.main-container

/* main container  */ {
  padding-left: 140px;
  padding-right: 140px;
}

.title {
  text-align: center;
  padding: 85px;
}

.title h2 {
  margin-bottom: 50px;
}

.container

/* start contaner1 */ {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.parent-card {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fa-solid {
  color: #a0e900;
}

.card {
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  background-color: #1f1f1f;
}

.fa-regular {
  color: #a0e900;
}

.why {
  width: 300px;
  margin-top: 40px;
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
  /* End contaner1 */
}

.container2

/* start contaner2 */ {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 25px;
  justify-content: center;
  margin-bottom: 80px;
}

.child {
  text-align: center;
  border-radius: 10px;
  width: 28%;
  margin-top: 10px;
  height: 230px;
  background-color: #1f1f1f;
  padding: 30px;
  /* transition: 0s 5s ease-in; */
}

i {
  margin-bottom: 12px;
}

/* End container2 */

/* start hover */

.card:hover {
  box-shadow: 0 5px 30px rgba(160, 233, 0, 25%);
}

.child:hover {
  box-shadow: 0 5px 30px rgba(160, 233, 0, 25%);
}

.child:hover h2 {
  color: #a0e900;
}
@media screen and (max-width: 500px) {
  .title {
    text-align: center;
    padding: 15px;
  }

  .container2 {
    display: flex;
    flex-flow:row wrap ;
  }
  .child{
   width: 100%;
   padding: 5px;

  }
  .p{
   margin: 5px;

  }

}
